*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container h1{
    width: 100%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 100%;
    justify-content: center;
}